html, body {
	width: 100%;
	height: 100% !important;
	font-family: 'Raleway', sans-serif;
	
}
/*======= Navigation Bar Section ======= */
.my-nav a {
 -webkit-transition: all .3s ease-in-out;
 -moz-transition: all .3s ease-in-out;
 transition: all .3s ease-in-out;
}
.my-nav a:hover, .my-nav a:focus {
	text-decoration: none;
}
/* NavBar */
.my-nav .navbar-custom.mnav {
	margin-bottom: 0;
	border-bottom: 1px solid #333;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .8);
	background-color: #000;
}
.my-nav .navbar-custom.mnav .navbar-brand.mnav {
	font-size: 26px;
	letter-spacing: -2px !important;
	text-transform: none;
}
.my-nav .navbar-custom.top-nav-collapse.mnav .navbar-brand.mnav {
	font-size: 18px !important;

}
.my-nav .navbar-custom.mnav .navbar-brand.mnav:focus {
	outline: 0 !important;
}
.my-nav .navbar-custom.mnav .navbar-brand.mnav .navbar-toggle {
	padding: 4px 6px !important;
	font-size: 16px !important;
	color: #fff !important;
}
.my-nav .navbar-custom.mnav .navbar-brand .navbar-toggle:focus, .my-nav .navbar-custom.mnav .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.my-nav .navbar-custom.mnav a {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}
.my-nav .navbar-custom.mnav .nav li a {
 -webkit-transition: background .4s ease-in-out;
 -moz-transition: background .4s ease-in-out;
 transition: background .4s ease-in-out;
}
.my-nav .navbar-custom.mnav .nav.mnav li a:hover {
	outline: 0;
	color: rgba(255, 255, 255, .8);
	background-color: transparent;
}
.my-nav .navbar-custom.mnav .nav li a:focus, .my-nav .navbar-custom.mnav .nav.mnav li a:active {
	outline: 0 !important;
	background-color: transparent !important;
}
.my-nav .navbar-custom.mnav .nav.mnav li.active {
	outline: 0 !important;
}
.my-nav .navbar-custom.mnav .nav.mnav li.active a {
	color: #FFFF00;
}
.my-nav .navbar-custom.mnav .nav.mnav li.active a:hover {
	color: #fff !important;

}
.mnav li{
	font-weight: 800 !important;
}
/*======= Top Padding ======= */
.pad-top {
	padding-top:70px;
}
/*======= Body Class ======= */
.demo {
	font-family: 'Open Sans', sans-serif;
	color: #000;
	background-color: #fff;
}
@media(min-width:768px) {
 .my-nav .navbar-custom.mnav {
 padding: 30px;
 border-bottom: 0;
 letter-spacing: 1px;
 background: 0 0;
 -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
 -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
 transition: background .5s ease-in-out, padding .5s ease-in-out;
}
 .my-nav .navbar-custom.top-nav-collapse {
 padding: 10px 30px;
 background-color: #000;
}
}
.my-nav .top-nav-collapse.mnav .container.mnav {
	width: auto !important;
}
.my-nav .navbar-toggle {
	padding: 3px 5px 0;
	margin-bottom: 0 !important;
}
.mnav a:hover{
	color:orange;

}