/*@@media screen only and (min-width:860px) and (max-width:1560px) {*/
  .navbar-nav{
    /*padding-left: 18%;*/
  }
  .navbar-nav li{
    padding-left: 25px;
  }

  body{
    overflow: auto;
    background-color: #eceff1;
  }

header h3{
     position: absolute;
     top: 480px;
     left: 0;
     width: 100%;
    color: #1de9b6;
  }
  header a{
       position: absolute;
       top: 540px;
       left: 0;
       width: 100%;
       color: black;
       /*font-size: 30px;*/


    }
  header h1 {
     position: absolute;
     font-family: 'Ultra', serif;
     font-size: 70px;
     top: 400px;
     left: 0;
     width: 100%;
     color: #1de9b6;
  }
.username{
  background-attachment: fixed;
}
#about h3{
  font-family: 'Lobster', cursive;

}
#about {
  background: #eceff1;
}

#work {
  background: #eceff1;
  color: #eceff1;
  /*border-top:4px solid white;*/
}
.container-collapse a{
  text-decoration: none;
}

/*
  ********************************
  Contact Form
  *********************************
*/

.columns form{
    background-color: #f2f2f2;
    padding-top: 6px;
    /*padding: 0;*/
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}
#form{
  width: 400px;
  height: 100px;
  resize: both;
  padding-bottom: 1px;
  margin-bottom: 50px;
  /*background: #ddd;*/
  /*overflow: auto;*/
}

input[type=text]{
	margin-bottom: 20px;
	margin-top: 10px;
	width:100%;
	/*padding: 15px;*/
	border-radius:5px;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
	border:1px solid #7ac9b7;
}
input[type=submit]
{
	margin-bottom: 20px;
	width:250px;
	padding: 15px;
	border-radius:5px;
	border:1px solid #7ac9b7;
	background-color: #4180C5;
	color: aliceblue;
	font-size:15px;
	cursor:pointer;
}

#submit:hover
{
 background-color: green;
}
textarea{
	width:100%;
	padding: 15px;
	margin-top: 10px;
    border:1px solid #7ac9b7;
	border-radius:5px;
	margin-bottom: 20px;
	resize:none;
  }
input[type=text]:focus,textarea:focus {
	border-color: #4697e4;
}

/*
  ********************************
  Scroll to top
  *********************************
*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #d35400;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

#work, #about{
  background: #eceff1;
}
#about{
  color: #eceff1;
}


/*
  ********************************
  Circle avatar section
  *********************************
*/

div.circle-avatar{
/* make it responsive */
max-width: 100%;
width:100%;
height:auto;
display:block;
opacity: 1;
/* div height to be the same as width*/
padding-top:100%;

/* make it a cirkle */
border-radius:50%;

/* Centering on image`s center*/
background-position-y: center;
background-position-x: center;
background-repeat: no-repeat;

/* it makes the clue thing, takes smaller dimention to fill div */
background-size: cover;

/* it is optional, for making this div centered in parent*/
margin: 0 auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

/*overlay on the avatar*/
.greyscale{
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
.greyscale:hover{
  filter: none;
    -webkit-filter: grayscale(0%);
}
vg {
    background:url(/images/harry.jpg);
}

svg image {
    transition: all .6s ease;
}

svg image:hover {
    opacity: 0;
}


/***
***
 **Navbar Hover Effects
 ***
 ***/

.nav a:hover{
  background-color: grey;
  border-bottom: #fff solid 1px;
}


/*
  ********************************
  Skills section
  *********************************
*/
 .circle1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 50px;
  /*color: #fff;*/
  line-height: 500px;
  text-align: center;
  background: transparent;
}

/*
  ********************************
  More Contact Form styling rules
  *********************************
*/
 #contact{
   background: url(/images/contact.jpg);
 }
 form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #e74c3c !important;
  -webkit-box-shadow: 0 0px 2px #e74c3c !important;
  box-shadow: 0 0px 2px #e74c3c !important;
}
form #input-submit {
  color: white;
  border-radius: 28px;
  background: #e74c3c;
  background: #ff5252;
  border-color: #ff5252;
  cursor: pointer;
}


form textarea {
  height: 126px;
  color: black;
}
form input{
  color: black;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}
#input-submit{
  width: 480px;
}
.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/*
  ********************************
  Social media
  *********************************
*/
 .box {
 	padding: 4.5em 0;
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-wrap: wrap;
 	-ms-flex-wrap: wrap;
 	flex-wrap: wrap;
 	-webkit-justify-content: center;
 	justify-content: center;
 }


.bg-1 {
	/*background: #ECEFF1;*/
	color: #37474f;
}

.button {
	float: left;
	min-width: 100px;
	max-width: 150px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
#contact i{
  font-size: 18px;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

.bg-1 .button {
	color: #37474f;
	border-color: #37474f;
}
.button--text-medium {
	font-weight: 500;
}
.button--round-l {
	border-radius: 40px;
}

.button--antiman {
	background: none;
	border: none;
	height: 60px;
}
.button--antiman.button--inverted,
.button--antiman.button--inverted-alt {
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--antiman > span {
	padding-left: 0.35em;
}
.button--antiman::before,
.button--antiman::after {
	content: '';
	z-index: -1;
	border-radius: inherit;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--antiman::before {
	border: 2px solid #37474f;
	opacity: 0;
	-webkit-transform: scale3d(1.2, 1.2, 1);
	transform: scale3d(1.2, 1.2, 1);
}
.button--antiman.button--border-thin::before {
	border-width: 1px;
}
.button--antiman.button--border-medium::before {
	border-width: 2px;
}
.button--antiman.button--border-thick::before {
	border-width: 3px;
}
.button--antiman.button--inverted::before {
	border-color: #7986cb;
}
.button--antiman.button--inverted-alt::before {
	border-color: #3f51b5;
}
.button--antiman::after {
	background: #fff;
}
.button--antiman.button--inverted::after {
	background: #7986cb;
}
.button--antiman.button--inverted-alt::after {
	background: #3f51b5;
}
.button--antiman.button--inverted:hover {
	color: #7986cb;
}
.button--antiman.button--inverted-alt:hover {
	color: #3f51b5;
  /*color: red;*/
}
.button--antiman:hover::before {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
.button--antiman:hover::after {
	opacity: 0;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
}

 /*
  ********************************
  Footer
  *********************************
*/
 .footer p {
   text-align: center;
 }

  /*
  ********************************
  Break Points
  *********************************
*/
 @media only screen and (max-width:768px)  {
   .my-nav{
     width: 100%;
   }
   .navbar-header{
     width: 100%;
   }
   #input-submit{
     width: 100%;
   }
   .over-ln{
     width: 80%;
   }
   .circle-avatar,{
     height: auto;
     width: 100%;
   }
   .username h1{
     font-size: 42px;
     /*margin-top: -200px;*/
   }
   .username h3{
     font-size: 20px;
   }
   #contact {
     background: url(images/1.jpg);
     padding-bottom: 0;
   }
   .footer{
     margin-top: 0px;
   }
 }

 @media screen only and(max-width:324px)  {
   .my-nav{
     width: 100%;
   }
   .navbar{
     width: 100%;
   }
}
.demo{
  background-color: #eceff1;
}