#coverPhoto1{
	background-image: url(images/iphonebg.png);
	/*background-color: black;*/
	min-height: 890px;
	/*background-size:100% auto;*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*width: 1700px;*/
}
#bookme{
	display: none;
}
#logo{
	display: none;
}
/*li{
	
	float: right;
}*/
.navtext{
	color: rgb(0, 214, 145);
	font-weight: bold;
	font-size: 1.5em;
	
}
#control-navs{
	display: none;
}
#holder{
		/*top: 1000px;*/
}

#whitespace{
	min-height: 330px;
	/*background-color: black;*/
	opacity: 0px;
	/*top: 100px;*/
}
#header{
	top: 90px;
	right: 30px;
}
#bio{
	/*-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	column-gap: 40px;*/
	margin-left: 30px;
	width: 90%;
}
#stock{
	opacity: 2.0;
	margin-left: 10px;
	width: 90%;
}
#socialholder{
	margin-left: -8px;
}
#gigform{
		margin-left: -10px;
}
#gigssubHead{
	color: rgb(0, 214, 145);
	font-size: 1.5em;
	margin-left: 170px;
}
.emailinput{
	width: 90%;
	height: 50px;
	border: 2px solid rgb(0, 214, 145);
	background-color: black;
	color: white;
	opacity: 0.5;
	margin-left: -40px;

}
.emailsubmit{
	width: 40%;
	height: 40px;
	border: 2px solid rgb(0, 214, 145);
	background-color: rgb(0, 214, 145);
	opacity: 6;
	margin-left: 20px;
	color: white;
	font-weight: bold;

}
#gigs-header{
	top: 120px;
	right: 80px;
}
#hide{
	display: inline-block;
}
body{
	background-color: black;
}
#music-header{
	top: 150px;
	right: 40px;
}
#music-player{
	margin-left: 20px;
	/*border-style: solid;*/
	/*border-width: 2px;*/
	border-color:  white;
	max-width: 10px;
	min-height: 50px;
	
}
#gig{
	margin-left: 80px;
}
#hamburger{
	display: block;
	margin-left: 3px;
	/*top: 20px;*/
	height: 20px;
	

}
.menu-btn div {
	
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0, 214, 145);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important; 
}
.navtext{
	color: rgb(0, 214, 145);
	font-weight: bold;
	font-size: 1.5em;
	font-family: 'Denk One', sans-serif;
}
#nav-holder{
	background-color: white;
	opacity: 0.9;
	min-height: 500px;
}
.subHead{
	color: rgb(0, 214, 145);
	font-size: 1.5em;
	margin-left: 85px;
	/*background-size:100% auto;*/
	/*top: 300px;*/

}
.playaudio{
	width: 12%;
	height: 25px;
	border: 2px solid rgb(0, 214, 145);
	background-color: rgb(0, 214, 145);
	/*opacity: 6;*/
	margin-left: 25px;
	/*color: white;*/
	font-weight: bold;

}
.playaudio2{
	width: 12%;
	height: 25px;
	border: 2px solid rgb(0, 214, 145);
	background-color: rgb(0, 214, 145);
	/*opacity: 6;*/
	margin-left: 38px;
	/*color: white;*/
	font-weight: bold;

}
.playaudio3{
	width: 12%;
	height: 25px;
	border: 2px solid rgb(0, 214, 145);
	background-color: rgb(0, 214, 145);
	/*opacity: 6;*/
	margin-left: 93px;
	/*color: white;*/
	font-weight: bold;

}
.playaudio4{
	width: 12%;
	height: 25px;
	border: 2px solid rgb(0, 214, 145);
	background-color: rgb(0, 214, 145);
	/*opacity: 6;*/
	margin-left: 94px;
	/*color: white;*/
	font-weight: bold;

}
.playaudio5{
	width: 12%;
	height: 25px;
	border: 2px solid rgb(0, 214, 145);
	background-color: rgb(0, 214, 145);
	/*opacity: 6;*/
	margin-left: 103px;
	/*color: white;*/
	font-weight: bold;

}
.playaudio6{
	width: 12%;
	height: 25px;
	border: 2px solid rgb(0, 214, 145);
	background-color: rgb(0, 214, 145);
	/*opacity: 6;*/
	margin-left: 99px;
	/*color: white;*/
	font-weight: bold;

}
.playaudio7{
	width: 12%;
	height: 25px;
	border: 2px solid rgb(0, 214, 145);
	background-color: rgb(0, 214, 145);
	/*opacity: 6;*/
	margin-left: 85px;
	/*color: white;*/
	font-weight: bold;

}
.playaudio8{
	width: 12%;
	height: 25px;
	border: 2px solid rgb(0, 214, 145);
	background-color: rgb(0, 214, 145);
	/*opacity: 6;*/
	margin-left: 90px;
	/*color: white;*/
	font-weight: bold;

}
.playaudio9{
	width: 12%;
	height: 25px;
	border: 2px solid rgb(0, 214, 145);
	background-color: rgb(0, 214, 145);
	/*opacity: 6;*/
	margin-left: 95px;
	/*color: white;*/
	font-weight: bold;

}
.playaudio10{
	width: 12%;
	height: 25px;
	border: 2px solid rgb(0, 214, 145);
	background-color: rgb(0, 214, 145);
	/*opacity: 6;*/
	margin-left: 105px;
	/*color: white;*/
	font-weight: bold;

}
.playaudio11{
	width: 12%;
	height: 25px;
	border: 2px solid rgb(0, 214, 145);
	background-color: rgb(0, 214, 145);
	/*opacity: 6;*/
	margin-left: 110px;
	/*color: white;*/
	font-weight: bold;

}

#trackholder{
	margin-left: 20px;
	max-width: 90%;
}
#trackholder2{
	margin-left: 10px;
	max-width: 90%;
}
#trackholder3{
	margin-left: 5px;
	max-width: 90%;
}
#trackholder4{
	margin-left: 0px;
	max-width: 90%;
}
#trackholder5{
	margin-left: -10px;
	max-width: 90%;
}
#trackholder6{
	margin-left: -12px;
	max-width: 90%;
}
#trackholder7{
	margin-left: -10px;
	max-width: 90%;
}
#trackholder8{
	margin-left: -15px;
	max-width: 90%;
}
#trackholder9{
	margin-left: -20px;
	max-width: 90%;
}
#trackholder10{
	margin-left: 10px;
	max-width: 90%;
}
#trackholder11{
	margin-left: 10px;
	max-width: 90%;
}
#player{
	min-width: 5%;
	margin-left: 5px;
	/*border-style: solid;*/
	/*border-width: 1px;*/
	/*border-color:  white;*/
	/*width: 2px;*/
	min-height: 300px;
	
}
